div#learning-log {
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
  padding: 20px;
  max-height: 1024px;
  /* border: 1px solid purple; */
}

div#learning-log .itemName {
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  float: left;
}

div#learning-log .itemIndex {
  color: #a6a6a6;
  float: right;
  /* border: 1px solid red; */
}

div#learning-log .itemCell {
  border-bottom: 1px solid #eaeaea;
}
div#learning-log .itemCell .ms-Grid-col {
  border-left: 1px solid #eee;
}

div#learning-log .itemCell .ms-Grid-col ul li {
  list-style: none;
}
