/* container for the player's cards and control panel */
.PlayerContainer {
  background-color: whitesmoke;
  /* border-radius: 0.25em; */
  transition: all 300ms ease-in;
  border: 1px solid rgba(25, 25, 25, 0.1);
}

.PlayerContainer.selected {
  -webkit-box-shadow: 15px 15px 20px -9px rgba(184, 184, 184, 1);
  -moz-box-shadow: 15px 15px 20px -9px rgba(184, 184, 184, 1);
  box-shadow: 15px 15px 20px -9px rgba(184, 184, 184, 1);
  border: 2px solid blue;
}

.PlayerContainer.staying {
  border: 2px solid green;
  background-color: ghostwhite;
}

/* the span that display's the player's name */
.PlayerContainer > .player-titlebar {
  margin-left: 1.5em;
  margin-top: 1em;
  /* border: 1px solid gold; */
}

/* the CommandBar in each PlayerContainer */
.PlayerContainer > .player-controlpanel {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* border: 1px solid green; */
}

/* the callout that appears beneath the deck when a player action occurs */
.DeckCallout {
  padding: 1em;
}

/* the text children of the Agent component */
#Agent {
  text-align: center;
}