.ms-ListBasicExample-itemCell {
  min-height: 54px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display: flex;
}

.ms-ListBasicExample-itemCell:hover {
  background: #EEE;
}

.ms-ListBasicExample-itemImage {
  flex-shrink: 0;
}

.ms-ListBasicExample-itemContent {
  margin-left: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.ms-ListBasicExample-itemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-ListBasicExample-itemIndex {
  font-size: 10pt;
  color: #333;
  margin-bottom: 10px;
}

.ms-ListBasicExample-chevron {
  align-self: center;
  margin-left: 10px;
  color: #333;
  font-size: 14pt;
  flex-shrink: 0;
}