#App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
  background: linear-gradient(63deg, teal 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, teal 78%), linear-gradient(63deg, transparent 34%, teal 38%, teal 58%, transparent 62%), #333;
  background-size: 16px 48px;
  /*border: 1px solid salmon;*/
}

#App div.ms-Grid:first-child {
  display: block;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  box-sizing: content-box;
  background-color: ghostwhite;
  min-width: 350px;
  /* width: 100%; */
  min-height: 600px;
  height:100%;
  border-radius: 5px;
}

div.header {
  padding: 10px;
  height: 75px;
}

div.topping {
  padding: 0.5em;
}

div.chris-Callout {
  max-width: 375px;
}

div.chris-Callout .chris-Callout-main {
  overflow-y: auto;
  font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

div.chris-Callout .chris-Callout-header {
  padding: 18px 24px 12px;
}

div.chris-Callout .chris-Callout-title {
  margin: 0;
  font-family: inherit;
  font-size: 21px;
  color: #333;
  font-weight: 300;
}

div.chris-Callout .chris-Callout-inner {
  height: 100%;
  padding: 0 24px 20px
}

div.chris-Callout .chris-Callout-content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

div.chris-Callout .chris-Callout-subtext {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  color: #333;
  font-weight: 300;
}

div.chris-Callout .chris-Callout-actions {
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}

.fabricList-itemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*fabricList styles*/

.fabricList-itemCell {
  outline: transparent;
  position: relative;
  min-height: 54px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fabricList-itemImage {
  flex-shrink: 0;
  overflow: hidden;
}

.fabricList-itemContent {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 10px;
}

fabricList-itemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

fabricList-itemIndex {
  font-size: 12px;
  color: #a6a6a6;
  margin-bottom: 10px;
}

fabricList-itemDesc {
  display: block;
}